<form method="POST">
    <input type="text" name="email" placeholder="E-mail address">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="log-in">Log in</button>
</form>

{{#if err}}
<p id="error">Ops... something went wrong! Please try again or <a href="/register">register here</a></p>
{{/if}}
