{{> header}}

<div class="petition">
    <img src="counter.jpeg" alt="small counter">

    <h1>Larger counters in every supermarket!</h1>

    <p>Please sign here:</p>

    <form method="POST">

        {{#if err}}
        <p id="error">Ops... something went wrong! Please sign again.</p>
        {{/if}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas class="form-elem" id="canvas" height="100px" width="340px"></canvas>
        <input id="input-sign" type="hidden" name="signature">
        <button class="link-button">Submit</button>
    </form>
</div>
