{{> header}}

<div class="petition">

<p>Hi <strong>{{first}}</strong>! Please tell us a bit more about yourself:</p>

<form method="POST">
    <input type="text" name="age">
    <p class="profile-info">Your age</p>
    <input type="text" name="city">
    <p class="profile-info">Your city</p>
    <input type="text" name="homepage">
    <p class="profile-info">Your homepage</p>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="continue">Create profile</button>
</form>

</div class="petition">
