<p>Tell us more about yourself</p>

<form method="POST">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="homepage" placeholder="Homepage">
    <button name="continue">CONTINUE</button>
</form>
