<!-- <img src="/the-tall-guy.jpg" alt="The Tall Guy"> -->

<div class="petition-text">
<p>The Tall Guy is an entity that populates concerts across the world. No matter how tall you are or which spot you decide to take at a show, chances that The Tall Guy will be right in front of you are pretty high. Please join our campaign for Tall-Guy-free concerts!</p>
{{#if err}}
<p id="error">Oops... something went wrong! Please sign again.</p>
{{/if}}
<form method="POST">
    <input type="text" name="first" placeholder="Fist Name">
    <input type="text" name="last" placeholder="Last Name">
    <input type="text" name="email" placeholder="E-mail address">
    <input type="text" name="password" placeholder="Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="sign-up">SIGN UP</button>
</form>

<p>If you are already registered, please <a href="/login">login</a>.</p>
</div>
