{{> header}}


<img id="gif" src="{{gif}}" alt="thank you gif"/>

<div class="thanks-text">
    <p>Thank you for signing our petition!</p>
    <img id="signature" src="{{signature}}" alt="User Signature">
    <br>
    <a href="signers">See all {{numOfSigners}} signers</a>
</div>
