{{> header}}


<img id="gif" src="{{gif}}" alt="thank you gif"/>

<div class="thanks-text">
    <p>Thank you for signing our petition!</p>
    <img id="signature" src="{{signature}}" alt="User Signature">
    <br>
    <p><a href="signers">See all {{numOfSigners}} signers</a></p>

    <p><a href="/profile/edit">Go to your profile</a></p>

    <form action="/delete-signature" method="POST">
        <button name="delete-signature">DELETE YOUR SIGNATURE</button>
    </form>
</div>
