<img id="gif" src="https://media.giphy.com/media/1Z02vuppxP1Pa/giphy.gif" alt="thank you gif">

<div class="petition-text">
    <p>Thank you for signing our petition! Your contribution is crucial in our battle for Tall-Guy-free shows.<br><br><a href="signers">See all {{numOfSigners}} signers.</a></p>
</div>
