body {
    font-family: "Helvetica Neue";
    text-align: center;
}

h1 {
    font-size: 25px;
}

input {
    height: 25px;
    width: 200px;
    margin-bottom: 6px;
    border: 1px solid black;
    font-size: 16px;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

figcaption {
    margin: auto;
    width: 400px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

header {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-div a {
    text-decoration: none;
    margin: 10px;
}

button {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    padding: 5px;
    width: 200px;
}

img {
    width: 400px;
    height: auto;
}

.campaign {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

.petition {
    margin-top: 40px;
}

.petition input {
    margin-top: 15px;
}

.profile-info {
    font-style: italic;
    margin: 0;
}

.petition-alt {
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.petition-alt input {
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    font-style: italic;
}

#canvas {
    border: 1px solid black;
    margin-bottom: 16px;
}

#error {
    color: red;
}

#error a {
    color: red;
}

#gif {
    margin-top: 20px;
    height: auto;
    width: 400px;
}

#signature {
    display: block;
    width: 340px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
}

.link-button {
    border: none;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.signers {
    background: lightgray;
    height: 400px;
    font-style: italic;
    font-weight: normal;
    margin-top: 50px;
    overflow: scroll;
}

.plain-link {
    font-weight: normal;
    text-transform: capitalize;
}

span {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

@media (max-width: 768px) {
    .petition-text {
        width: 90%;
    }
    .thanks-text {
        width: 90%;
    }
    #gif {
        width: 90%;
        height: auto;
    }
    img {
        width: 90%;
        height: auto;
    }
}
